* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    #ffd6c2 11.63%,
    #ff8b6a 11.63%,
    #ff8b6a 23.26%,
    #480032 23.26%,
    #480032 34.88%,
    #df0054 34.88%,
    #df0054 50%,
    #ffd6c2 50%,
    #ffd6c2 61.63%,
    #ff8b6a 61.63%,
    #ff8b6a 73.26%,
    #480032 73.26%,
    #480032 84.88%,
    #df0054 84.88%,
    #df0054 100%
  );
  background-size: 860px 860px;
  font-family: Quicksand;
}

.page-title {
  font-size: 80px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

.add-images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-images {
  display: flex;
  justify-content: center;
}

.add-image-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

#input-title {
  height: 30px;
  width: 18%;
  border: 1px white solid;
  border-radius: 2px;
  margin-right: 5px;
  color: grey;
}
#input-description {
  height: 30px;
  width: 18%;
  border: 1px white solid;
  border-radius: 2px;
  margin-right: 5px;
  color: grey;
}
#input-username {
  height: 30px;
  width: 15%;
  border: 1px white solid;
  border-radius: 2px;
  margin-right: 5px;
  color: grey;
}

.inputfile {
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

::placeholder {
  font-family: Quicksand;
  font-size: 12px;
  text-align: center;
}

.inputfile + label {
  height: 30px;
  width: 15%;
  font-size: 12px;
  color: grey;
  border: 1px white solid;
  background: white;
  border-radius: 2px;
  padding: 7px 10px;
  margin-right: 5px;
  white-space: nowrap;
}

.btn-upload-image {
  height: 30px;
  border: 1px white solid;
  border-radius: 2px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: grey;
}

.last-uploads {
  font-size: 25px;
  color: white;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 30%;
  height: 470px;
  border: 1px #928a97;
  border-radius: 2px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.card-image {
  width: 100%;
  min-width: 300px;
  height: 70%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px black;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-family: Amatic SC;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

.card-description {
  font-family: Amatic SC;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

/* //POPUP// */

.image-modal-container {
  top: 0;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.image-modal {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-color: black;
  color: white;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  overflow: scroll;
}

.image-modal-image {
  max-height: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
}

.image-modal-title {
  font-family: Amatic SC;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
}

.image-modal-description {
  font-family: Quicksand;
  font-size: 25px;
  text-align: center;
}

.image-modal-username-date {
  font-family: Quicksand;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.image-modal-close {
  position: absolute;
  right: 35px;
  top: 5px;
  cursor: pointer;
  font-size: 60px;
}

.add-comment {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

.addComment {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.addComment-comment {
  height: 30px;
  width: 40%;
  border: 1px white solid;
  border-radius: 2px;
  margin-right: 5px;
  justify-content: center;
}

.addComment-username {
  height: 30px;
  width: 40%;
  border: 1px white solid;
  border-radius: 2px;
  margin-right: 5px;
  justify-content: center;
}

.addComment-submit {
  height: 30px;
  border: 1px white solid;
  border-radius: 2px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: grey;
}

.comment {
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}
